
@model List<MariaStudyGroup.Models.StudyGroupMember>
@{
    ViewBag.Title = "Index";
}

<h2>Study Group Members</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email Address</th>
            <th>Profile</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.StudentNumber</td>
                <td>@member.Name</td>
                <td>@member.Surname</td>
                <td>@member.EmailAddress</td>
                <td><a href="@Url.Content(member.MyLink)" class="btn">LINK</a></td>
               
            </tr>
        }
    </tbody>
</table>

