<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/wwwroot/Style.css">
    @Styles.Render("~/wwwroot/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
     <div class="container">
        <a class="navbar-brand" href="~/Home/Index">Simple Starting Sample</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav"></ul>
        </div>
     </div>
                
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">List of Members ▼</button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Complete List of Members", "Index", "StudyGroup")</li>
                <li><a href="~/HTML/Maria.html">Maria</a></li>
                <li><a href="~/HTML/Petrus.html">Petrus</a></li>
                <li><a href="~/HTML/Masilo.html">Masilo</a></li>
                <li><a href="~/HTML/Lynn.html">Lynn</a></li>
                <li><a href="~/HTML/Kopano.html">Kopano</a></li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

